<label for="{{ id }}" class="block mb-1 text-lg font-semibold text-slate-800">
  {{ label }}
</label>
<div class="mt-1">
  <select
    class="block w-full pl-3 pr-10 py-2 border border-slate-300 rounded-md shadow-sm placeholder-slate-400 focus:outline-none focus:ring-oxford-500 focus:border-oxford-500 sm:text-sm"
    id="{{ id }}"
    name="{{ name }}"
    {% if required %}required{% endif %}
    {% if x_model %}x-model="{{ x_model }}"{% endif %}
  >
    {% for value, text in choices %}
      <option value="{{ value }}">{{ text }}</option>
    {% endfor %}
  </select>
</div>
{% if hint %}
  <p
    class="text-slate-600 text-sm pt-2"
    id="{{ id }}-hint"
  >{{ hint }}</p>
{% endif %}
