<label for="{{ id }}" class="block mb-1 text-lg font-semibold text-slate-800">
  {{ label }}
</label>
<div class="mt-1">
  <input
    {% if hint %}aria-describedby="{{ id }}-hint"{% endif %}
    {% if autocapitalize %}autocapitalize="{{ autocapitalize }}"{% endif %}
    {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
    {% if autocorrect %}autocorrect="{{ autocorrect }}"{% endif %}
    class="appearance-none block w-full px-3 py-2 border border-slate-300 rounded-md shadow-sm focus:outline-none focus:ring-oxford-500 focus:border-oxford-500 sm:text-sm"
    id="{{ id }}"
    {% if inputmode %}inputmode="{{ inputmode }}"{% endif %}
    name="{{ name }}"
    {% if required %}required{% endif %}
    {% if value %}value="{{ value }}"{% endif %}
    type="{{ type }}"
  >
</div>
{% if hint %}
  <p
    class="text-slate-600 text-sm pt-2"
    id="{{ id }}-hint"
  >{{ hint }}</p>
{% endif %}
