# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in
django
django-extensions
django-vite
environs[django]
psycopg2-binary
whitenoise[brotli]
