# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in
django
django-anymail[mailgun]
django-csp
django-extensions
django-permissions-policy
django-vite
environs[django]
furl
gunicorn
html2text
incuna-mail
psycopg2-binary
requests
sentry-sdk
slack-sdk
structlog
timeflake
whitenoise[brotli]
