--constraint requirements.prod.txt

# Additional dev requirements
# To generate a requirements file that includes both prod and dev requirements, run:
# pip-compile --generate-hashes --output-file=requirements.dev.txt requirements.dev.in

black
coverage
factory_boy
flake8
flake8-builtins
flake8-implicit-str-concat
flake8-no-pep420
isort
opensafely
pip-tools
pre-commit
pytest
pytest-django
pytest-env
pytest-freezegun
pytest-mock
pytest-responses
https://github.com/opensafely-core/pipeline/archive/refs/tags/v0.0.3.zip#egg=opensafely-pipeline

# report code tests
numpy==1.22.4
pandas==1.4.2
hypothesis

# functional tests requirements
opensafely  # because jobrunner cannot currently be installed in --require-hashes
