# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in
django
django-anymail[mailgun]
django-extensions
django-vite
environs[django]
gunicorn
psycopg2-binary
structlog
whitenoise[brotli]
