{% extends "base.html" %}

{% block content %}
<div class="container bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
  <div class="max-w-max mx-auto">
    <div class="sm:flex">
      <p class="text-4xl font-extrabold text-oxford-600 sm:text-5xl">500</p>
      <div class="sm:ml-6">
        <div class="sm:border-l sm:border-slate-200 sm:pl-6">
          <h1 class="text-4xl font-extrabold text-slate-900 tracking-tight sm:text-5xl">Server error</h1>
          <p class="mt-1 text-base text-slate-500">An error has occurred displaying this page.</p>
        </div>
        <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6">
          <a href="{% url 'home' %}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-oxford-600 hover:bg-oxford-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-500">Go to the home page</a>
          <a href="mailto:tech@opensafely.org" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-oxford-700 bg-oxford-100 hover:bg-oxford-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-500">Contact support</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
