{% load django_vite %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js min-h-screen {% block html_class %}{% endblock html_class %}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block meta_title %}{% endblock meta_title %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">

  <link rel="manifest" href="{% static "manifest.webmanifest" %}">
  <link rel="icon" href="{% static "favicon.ico" %}" sizes="any">
  <link rel="icon" href="{% static "icon.svg" %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static "apple-touch-icon.png" %}">

  {% vite_hmr_client %}
  {% vite_asset 'assets/src/scripts/main.js' defer=true %}
</head>
<body class="min-h-screen flex flex-col {% block body_class %}{% endblock body_class %}">
  {% block staff_nav %}{% endblock %}
  {% include "partials/header.html" %}
  {% include "partials/toast.html" %}
  {% include "partials/banner.html" %}

  <main id="content" class="flex-1">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.html" %}

  {% vite_legacy_polyfills %}
  {% vite_legacy_asset 'assets/src/scripts/main.js' %}
</body>
</html>
