<footer class="mt-auto pt-4">
  <div class="bg-gray-50 py-8">
    <div class="container mx-auto px-4">
      <p class="text-sm text-gray-600">
        © University of Oxford for the Bennett Institute for Applied Data Science 2022.
        This work may be copied freely for non-commercial research and study.
        If you wish to do any of the other acts restricted by the copyright you should apply in writing to
        <a href="mailto:ebmdatalab@phc.ox.ac.uk" class="text-blue-600 underline">ebmdatalab@phc.ox.ac.uk</a>.
      </p>
    </div>
  </div>
</footer>
