{% if messages %}
<div class="fixed inset-0 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start z-40">
  <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
    {% for message in messages %}
    <div
      aria-live="assertive"
      class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden"
      x-data="toast"
      {% if 'autohide' in message.tags %}x-init="init"{% endif %}
      x-show="isToastVisible"
      x-transition:enter="transform ease-out duration-300 transition"
      x-transition:enter-start="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
      x-transition:enter-end="translate-y-0 opacity-100 sm:translate-x-0"
      x-transition:leave="transition ease-in duration-100"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
    >
      <div class="p-4">
        <div class="flex items-center">
          <div class="flex-shrink-0">
          {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            {% include "icons/outline-information-circle.svg" with html_class="h-6 w-6 text-oxford-500" %}
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            {% include "icons/outline-check-circle.svg" with html_class="h-6 w-6 text-green-500" %}
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            {% include "icons/outline-exclamation.svg" with html_class="h-6 w-6 text-amber-500" %}
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            {% include "icons/outline-x-circle.svg" with html_class="h-6 w-6 text-red-500" %}
          {% endif %}
          </div>
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p class="text-sm font-medium text-slate-900">
              {{ message }}
            </p>
          </div>
          <div class="ml-4 flex-shrink-0 flex">
            <button x-on:click="hideToast" class="bg-white rounded-md inline-flex text-slate-400 hover:text-slate-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-500">
              <span class="sr-only">Close</span>
              {% include "icons/solid-x.svg" with html_class="h-5 w-5" %}
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
