{% extends "interactive/output_template.html" %}

{% load humanize %}

{% block meta_title %}Analysis Output | OpenSAFELY Interactive{% endblock meta_title %}

{% block template_heading %}
  <h1 class="text-center text-3xl font-extrabold text-slate-900 sm:w-full sm:max-w-lg mx-auto">
    Analysis Output
  </h1>
{% endblock template_heading %}

{% block template_content %}
<div class="text-center text-slate-800">
  <div class="prose prose-oxford">
    <h2>{{ analysis.title }}</h2>
    <p class="font-semibold text-red-800">Sharing outside of NHS England is not permitted in the current pilot phase without further approvals. Please contact {% include "components/link.html" with href="mailto:team@opensafely.org" content="The OpenSAFELY Team" %} if you would like to seek approval for wider sharing.</p>
    <p>The aim of this OpenSAFELY Interactive report is to describe trends and variation in clinical codes to inform further analyses. It is not intended to be a tool for "performance monitoring".</p>
  </div>
</div>
<div class="mt-12 text-slate-800">
  <div class="prose prose-oxford">
    <p>Requested codelist: <a class="text-oxford-600 font-semibold underline underline-offset-1 transition-colors hover:text-oxford-500 hover:no-underline focus:text-oxford-700 focus:no-underline" href="https://www.opencodelists.org/codelist/{{ analysis.codelist }}">{{ analysis.codelist }}</a></p>
    <p>Time period: {{ analysis.start_date }} and {{ analysis.end_date }}</p>
    <table>
      <tr>
        <th>Unique events</th>
        <td>{{ summary.0.count|intcomma }}</td>
      </tr>
      <tr>
        <th>Events in latest week</th>
        <td>{{ summary.1.count|intcomma }}</td>
      </tr>
      <tr>
        <th>Unique patients</th>
        <td>{{ summary.2.count|intcomma }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="mt-12 text-slate-800">
  <div class="prose prose-oxford">
    <h3>Trends and variation in code use</h3>
    <figure>Figure: The weekly event rate for the selected codelist per 1000 registered patients per practice</figure>
    <img src="data:image;base64,{{ deciles_chart }}" />
  </div>
</div>
<div class="mt-12 text-slate-800">
  <div class="prose prose-oxford">
    <h3>Most common codes (<a class="text-oxford-600 font-semibold underline underline-offset-1 transition-colors hover:text-oxford-500 hover:no-underline focus:text-oxford-700 focus:no-underline" href="https://www.opencodelists.org/codelist/{{ analysis.codelist }}">Codelist</a>)</h3>
    <table>
      <thead><th>Code</th><th>Description</th><th>Proportion of codes (%)</th></thead>
      {% for code in common_codes %}
        <tbody>
          <td>{{ code.Code }}</td>
          <td>{{ code.Description }}</td>
          <td>{{ code.Proportion }}</td>
        </tbody>
      {% endfor %}
    </table>
  </div>
</div>
<div class="mt-12 text-slate-800">
  <div class="prose prose-oxford">
  <h3>More information</h3>
    <ul>
      <li>Unique events represents a maximum of one event per patient per day</li>
      <li>Practices are represented as deciles, i.e. for each week all practice rates are ranked, and only the values for the median (50th percentile) practice, and 10th, 20th percentile etc are shown.</li>
      <li>The practice population value is approximated as those registered as of the latest date in the analysis period, plus patients who died at any time during the period while registered with a TPP practice.</li>
    </ul>
  </div>
</div>
{% endblock template_content %}
