{% extends "interactive/template.html" %}

{% block meta_title %}Request an analysis | OpenSAFELY Interactive{% endblock meta_title %}

{% block template_heading %}
<h1 class="text-center text-3xl font-extrabold text-slate-900 sm:w-full sm:max-w-lg mx-auto">
  Request an analysis
</h1>
{% endblock template_heading %}

{% block template_content %}
<div class="border-l-2 border-l-oxford-200 bg-oxford-50 pl-4 pr-2 py-4 -mx-4 -mt-4 rounded">
    <details class="prose prose-oxford text-slate-800 prose-sm mx-auto" open>
      <summary class="text-lg font-bold cursor-pointer">
        <span class="pl-1">What does an analysis show?</span>
      </summary>
      <p>This is an interactive tool that automatically counts, for a {% include "components/link.html" with href="#" content="selected codelist" newtab=True %}, the number of events recorded per week in every GP practice using TPP software (~40% of England's practices), from prior to the pandemic to the latest available date (approximately 1-2 weeks lag time).</p>
      <p>This produces a time trend chart, with practices are represented as {% include "components/link.html" with href="https://www.bennett.ox.ac.uk/blog/2019/04/communicating-variation-in-prescribing-why-we-use-deciles/" content="deciles" newtab=True %}.</p>
      <p>The report will also display overall summary statistics (total events, number of distinct patients affected) and which five codes in the codelist were most commonly used, with percentages.</p>
    </details>
</div>

<div class="border-t border-t-slate-200 mt-6 pt-4 -mx-4">
  <h2 class="px-4 text-xl font-bold">Submit a request</h2>
</div>
<form class="space-y-6" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div>
    {% include "components/form-field.html" with id=form.title.id_for_label label=form.title.label name="title" required=True type="text" hint="For example: Systolic code usage" %}
  </div>

  <div x-title="codelist-select" x-data="{
      codelist: '',
      get selectedCodelist() {
        var select = document.getElementById('{{ form.codelist_slug.id_for_label }}');
        return {
          url: `https://www.opencodelists.org/codelist/${this.codelist}`,
          text: `View &#8220${select.options[select.selectedIndex].text}&#8221 codelist`
        }
      }
    }">
    {% include "components/form-field-select.html" with id=form.codelist_slug.id_for_label label="Codelist" name="codelist_slug" required=True choices=form.codelist_slug.field.choices hint="Codelists are published by OpenSAFELY on OpenCodelists and use the SNOMED CT coding system" x_model="codelist" %}

    <div class="border-l-2 border-l-oxford-200 bg-oxford-50 rounded pl-4 pr-2 py-4 mt-4 text-sm text-slate-800">
      <ul class="list-disc pl-4 grid grid-flow-row gap-2">
        <li>
          {% include "components/link.html" with href="#" content="What is a codelist?" newtab=True %}
        </li>
        <li>
          {% include "components/link.html" with href="https://www.snomed.org/" content="What is SNOMED CT?" newtab=True %}
        </li>
        <li x-show="codelist">
          <a
            class="
              text-oxford-600 font-semibold underline underline-offset-1 transition-colors
              hover:text-oxford-700 hover:no-underline
              focus:text-oxford-900 focus:no-underline
            "
            rel="noopener noreferrer"
            target="_blank"
            x-bind:href="selectedCodelist.url"
            x-text="selectedCodelist.text"
            ></a>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h2 class="text-base font-semibold text-slate-700">
      Date range
    </h2>
    <p class="mt-1 text-base text-slate-600">
      Analysis will cover period between
      <time class="font-mono" datetime="{{ start_date }}">{{ start_date }}</time>
      and
      <time class="font-mono" datetime="{{ end_date }}">{{ end_date }}</time>
    </p>
  </div>

  {% include "components/button.html" with el="input" color="oxford" html_class="w-full" size="lg" type="submit" text="Submit" %}
</form>
{% endblock template_content %}
