{% extends "base.html" %}
{% load django_vite %}

{% block meta_title %}Request an analysis | OpenSAFELY Interactive{% endblock meta_title %}

{% block content %}
{# <section class="bg-oxford-50 py-6"> #}
  {# <div class="container"> #}
    {# <h1 class="text-3xl font-extrabold text-slate-900 mb-6"> #}
      {# Request an analysis #}
    {# </h1> #}
    {# <div class="prose prose-oxford sm:prose-sm text-slate-800"> #}
      {# <h2 class="text-2xl font-bold mb-4">What does an analysis show?</h2> #}
      {# <p>An analysis automatically counts the number of events recorded per week in every GP practice for a selected Codelist.</p> #}
      {# <p>During the pilot and dvelopment stage we have agreed with NHS England Information Governance team to restrict available codelists to pre-approved Codelists published by {% include "components/link.html" with href="https://www.opencodelists.org/" content="OpenSAFELY on OpenCodelists" newtab=True %}.</p> #}
      {# <p>The analysis uses TPP software (covering appoximately 40% of England's practices), from prior to the pandemic to the latest available date.</p> #}
      {# {% url 'about' as deciles_link %} #}
      {# <p>This produces a time trend chart, with practices {% include "components/link.html" with href=deciles_link|add:"#deciles" content="represented as deciles" newtab=True %}.</p> #}
      {# <p class="!mb-2">The report will also display:</p> #}
      {# <ul> #}
        {# <li>overall summary statistics</li> #}
        {# <li>total events</li> #}
        {# <li>number of distinct patients affected</li> #}
        {# <li>five codes in the codelist were most commonly used, with percentages</li> #}
      {# </ul> #}
      {# <p>We will be developing more features in collaboration with users so please <a href="https://docs.google.com/forms/d/e/1FAIpQLScWikDx0UlqbEcnbzZhn5FiBTBHc2LtrfhqmmKwgOuKt4oFTQ/viewform" target="_blank" rel="noopener noreferrer">tell us about your experience using OpenSAFELY Interactive</a>.</p> #}
    {# </div> #}
  {# </div> #}
{# </section> #}

<section class="container py-8">
  {# <h2 class="text-2xl font-bold">Submit a request</h2> #}

  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ codelists|json_script:"analysis-request-form-data" }}
    {{ form.codelist_slug.errors|json_script:"analysis-request-errors" }}

    {% if debug %}
    <script type="module" nonce="{{ request.csp_nonce }}">
      import RefreshRuntime from 'http://localhost:5173/static/bundle/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    {% endif %}
    <div
      id="root"
      data-form-data="analysis-request-form-data"
      data-errors="analysis-request-errors"
    ></div>
    {% vite_asset 'assets/src/scripts/skeleton/main.jsx' %}
  </form>
</section>

{# {% if form.errors %} #}
{# <div class="shadow sm:rounded-lg bg-red-50 p-4 mt-3 mb-6"> #}
  {# <div class="flex"> #}
    {# <div class="flex-shrink-0"> #}
      {# {% include "icons/solid-x-circle.svg" with html_class="h-5 w-5 text-red-400" %} #}
    {# </div> #}
    {# <div class="ml-3"> #}
      {# <h3 class="text-sm font-bold text-red-800"> #}
        {# There {{ form.errors|pluralize:"was,were" }} {{ form.errors|length }} error{{form.errors|pluralize}}: #}
      {# </h3> #}
      {# <div class="mt-2 text-sm text-red-700"> #}
        {# <ul role="list" class="list-disc pl-5 space-y-1"> #}
          {# {% for field in form %} #}
            {# {% for error in field.errors %} #}
            {# <li><strong>{{ field.label }}: </strong>{{ error }}</li> #}
            {# {% endfor %} #}
          {# {% endfor %} #}
          {# {% for error in form.non_field_errors %} #}
            {# <li>{{ error }}</li> #}
          {# {% endfor %} #}
        {# </ul> #}
      {# </div> #}
    {# </div> #}
  {# </div> #}
{# </div> #}
{# {% endif %} #}
{% endblock content %}
