{% extends "interactive/template.html" %}

{% block meta_title %}Analysis requested | OpenSAFELY Interactive{% endblock meta_title %}

{% block template_heading %}
  <h1 class="text-center text-3xl font-extrabold text-slate-900 sm:w-full sm:max-w-lg mx-auto">
    Analysis requested
  </h1>
{% endblock template_heading %}

{% block template_content %}
<div class="text-center text-slate-800">
  {% include "icons/circle-spin.svg" with html_class="motion-safe:animate-spin flex mx-auto h-12 w-12 text-oxford-600 mb-6" %}

  <div class="prose prose-oxford">
    <h2>Your request is being processed</h2>
    <p>
      We will send an email to
      <span class="block text-oxford-600 font-semibold">{{ user.email }}</span>
      when your analysis is ready.
    </p>
    <p>Some text here about the time scales.</p>
    <p class="text-sm text-slate-600 pt-4 border-t border-slate-200">
      If you have not received an email within [X TIME],
      <br>or experiencing any other problems with this service,
      <a href="mailto:team@opensafely.org">contact us</a>.
    </p>
  </div>
</div>
{% endblock template_content %}
