{% extends "interactive/template.html" %}

{% block meta_title %}Register your interest | OpenSAFELY Interactive{% endblock meta_title %}

{% block template_heading %}
<h1 class="text-center text-3xl font-extrabold text-slate-900 sm:w-full sm:max-w-lg mx-auto">
  Register your interest in using the OpenSAFELY Interactive platform
</h1>
<p class="mt-3 text-center text-lg text-slate-600 max-w-prose mx-auto">
  We are currently working with NHS England to cautiously on-board a small number of NHS England staff to run analyses using OpenSAFELY Interactive in its early development phase.
</p>
{% endblock template_heading %}

{% block template_content %}
<form class="space-y-6" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div>
    {% include "components/form-field.html" with id=form.full_name.id_for_label label=form.full_name.label name="full_name" required=True type="text" autocomplete="name" autocapitalize="words" autocorrect="off" %}
  </div>
  <div>
    {% include "components/form-field.html" with id=form.email.id_for_label label=form.email.label name="email" required=True type="email" autocomplete="email" inputmode="email" %}
  </div>
  <div>
    {% include "components/form-field.html" with id=form.organisation.id_for_label label=form.organisation.label name="organisation" required=True type="text" autocomplete="organization" %}
  </div>
  <div>
    {% include "components/form-field.html" with id=form.job_title.id_for_label label=form.job_title.label name="job_title" required=True type="text" autocomplete="organization-title" %}
  </div>
  <p class="pt-2 mb-2 text-sm text-slate-600">
    We will use your details to check your eligibility and register you for the OpenSAFELY Interactive platform and to contact you about the platform. You can
    {% include "components/link.html" with href="mailto:team@opensafely.org" content="contact us" %}
    to opt out at any time.
  </p>

  <div>
    {% include "components/button.html" with el="input" color="oxford" html_class="w-full" size="md" type="submit" text="Submit" %}
  </div>
</form>
{% endblock template_content %}
