{% extends "base.html" %}

{% block content %}

<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-2xl">
  <h2 class="text-xl font-extrabold text-slate-900">Register your interest in using the OpenSAFELY Interactive platform</h2>
  <div class="bg-white mt-2 py-8 px-4 shadow sm:rounded-lg sm:px-10">

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div>
        {% include "components/form-field.html" with id=form.full_name.id_for_label label=form.full_name.label name="full_name" required=True type="text" %}
      </div>
      <div>
        {% include "components/form-field.html" with id=form.email.id_for_label label=form.email.label name="email" required=True type="text" %}
      </div>
      <div>
        {% include "components/form-field.html" with id=form.organisation.id_for_label label=form.organisation.label name="organisation" required=True type="text" %}
      </div>
      <div>
        {% include "components/form-field.html" with id=form.job_title.id_for_label label=form.job_title.label name="job_title" required=True type="text" %}
      </div>
      <p class="mt-2 mb-2 text-base text-slate-500">Someone will respond to your request shortly</p>
      {% include "components/button.html" with el="input" type="submit" text="Submit" size="lg" color="oxford" %}
    </form>

  </div>
</div>
{% endblock %}
