{% autoescape off %}
<p>Hi {{ name }},</p>
<p>Your analysis titled "{{ title }}" using OpenSAFELY interactive has now finished running. You can view the results here:<br/>
  {% block analysis_link %}
    <a href="{{ url }}">{{ url }}</a>
  {% endblock %}
</p>
<p>These results are not publicly accessible and are only viewable when logged into your OpenSAFELY Interactive account. Please do not share these results with anyone. If you would like to share the results, please send an email to <a href="mailto:team@opensafely.org">team@opensafely.org</a>.</p>
<p>OpenSAFELY Interactive is a new tool in active development. Please let us know your thoughts on how we can improve the service by filling out our feedback form, or simply reply to this email.</p>
<p>Kind regards,</p>
<p><a href="mailto:team@opensafely.org">The OpenSAFELY Team</a></p>
{% endautoescape %}
