<p>Hi {{ name }},</p>
<p>You submitted an analysis request for the {{ codelist }} codelist.</p>
<p>We will send an email to {{ email }} when your analysis is ready.</p>
<p>
  During the pilot phase results will be checked carefully by our team for
  privacy and security reasons. We aim to process requests within half a
  working day, although it may take up to two working days. We are working to
  improve and automate these processes in the future.
</p>
<p>Kind regards,</p>
<p><a href="mailto:team@opensafely.org">The OpenSAFELY Team</a></p>
<br/>
<p>
  OpenSAFELY Interactive is a new tool in active development. Please let us
  know your thoughts on how we can improve the service by filling out our
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScWikDx0UlqbEcnbzZhn5FiBTBHc2LtrfhqmmKwgOuKt4oFTQ/viewform">
    feedback form
  </a>
  or by emailing
  <a href="mailto:team@opensafely.org">team@opensafely.org</a>.
</p>
