{% autoescape off %}
<p>Hi {{ name }},</p>
<p>Thank you for your interest in OpenSAFELY Interactive.</p>
<p>
  Please click on the link to finish setting up your account<br />
  {% block reset_link %}
      <a href="{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
      </a>
  {% endblock %}
</p>
<p>Once you've setup your account, you'll be able to login to <a href="{{ domain }}">the website</a> and request an analysis by clicking on "Get started".</p>
<p>In the early development phase, you will be able to analyse the rate of recorded coding activity in primary care using a set of supported SNOMED codelists developed by the OpenSAFELY team across a specified time period.</p>
<p>Once your analysis has been run, we will send you an email with instructions on how to view the results.</p>
<p>From,</p>
<p><a href="mailto:team@opensafely.org">The OpenSAFELY Team</a></p>
{% endautoescape %}
