{% autoescape off %}
<p>Hi {{ name }},</p>
<p>Thank you for your interest in OpenSAFELY Interactive.</p>
<p>
  Please click on the link to finish setting up your account<br />
  {% block reset_link %}
      <a href="{{ url }}">{{ url }}</a>
  {% endblock %}
</p>
<p>Once you've setup your account, you'll be able to login to <a href="{{ domain }}">the website</a> and request an analysis by clicking on "Get started".</p>
<p>In the early development phase, you will be able to analyse the rate of recorded coding activity in primary care across a specified time period, using all SNOMED codelists that have been used in OpenSAFELY projects for covid-related purposes.</p>
<p>Once your analysis has been run, we will send you an email with instructions on how to view the results.</p>
<p>From,</p>
<p><a href="mailto:team@opensafely.org">The OpenSAFELY Team</a></p>
{% endautoescape %}
