{% extends "base.html" %}

{% block html_class %}h-full bg-slate-50{% endblock html_class %}
{% block body_class %}h-full{% endblock body_class %}

{% block content %}
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-center text-3xl font-extrabold text-slate-900">Log in to your account</h2>
    <p class="mt-2 text-center text-sm text-slate-600">
      Or
      <a href="#" class="font-medium text-oxford-600 hover:text-oxford-500">
        register your interest
      </a>
      to create an account.
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    {% if next %}
      {% if user.is_authenticated %}
        {# Logged in users will be redirected automatically #}
        <p>Your account doesn't have access to this page. To proceed, log in with an account that has access.</p>
      {% else %}
      <div class="rounded-md bg-yellow-50 p-4 mb-6">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium text-yellow-800">Account required</h3>
            <div class="mt-2 text-sm text-yellow-700">
              <p>Log in to your account to see this page</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}

    {% if form.errors %}
    <div class="shadow sm:rounded-lg bg-red-50 p-4 mt-3 mb-6">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-bold text-red-800">
            There {{ form.errors|pluralize:"was,were" }} {{ form.errors|length }} error{{form.errors|pluralize}}:
          </h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc pl-5 space-y-1">
              {% for field in form %}
                {% for error in field.errors %}
                <li><strong>{{ field.label }}: </strong>{{ error }}</li>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div>
          <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-slate-700">
            {{ form.username.label }}
          </label>
          <div class="mt-1">
            <input
              autocomplete="username"
              class="appearance-none block w-full px-3 py-2 border border-slate-300 rounded-md shadow-sm placeholder-slate-400 focus:outline-none focus:ring-oxford-500 focus:border-oxford-500 sm:text-sm"
              id="{{ form.username.id_for_label }}"
              inputmode="email"
              name="username"
              required
              type="text"
            >
          </div>
          {% if form.username.errors %}
            <ul class="mt-2">
              {% for error in form.username.errors %}
                <li class="text-sm text-red-700">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div>
          <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-slate-700">
            {{ form.password.label }}
          </label>
          <div class="mt-1">
            <input
              autocomplete="current-password"
              class="appearance-none block w-full px-3 py-2 border border-slate-300 rounded-md shadow-sm placeholder-slate-400 focus:outline-none focus:ring-oxford-500 focus:border-oxford-500 sm:text-sm"
              id="{{ form.password.id_for_label }}"
              name="password"
              required
              type="password"
            >
          </div>
          {% if form.password.errors %}
            <ul class="mt-2">
              {% for error in form.password.errors %}
                <li class="text-sm text-red-700">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div>
          <input
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-oxford-600 hover:bg-oxford-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-500"
            type="submit"
            value="Log in"
          />
          <input
            type="hidden"
            name="next"
            value="{{ next }}"
          />
        </div>

        {# <div> #}
          {# <div class="text-sm text-center"> #}
            {# <a href="{% url 'password_reset' %}" class="font-medium text-oxford-600 hover:text-oxford-500"> #}
              {# Forgot your password? #}
            {# </a> #}
          {# </div> #}
        {# </div> #}

      </form>
    </div>
  </div>
</div>

{% endblock content %}
