{% extends "base.html" %}

{% block meta_title %}Password reset sent | OpenSAFELY Interactive{% endblock meta_title %}

{% block content %}
<div class="container bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
  <h1 class="mb-4 text-4xl font-extrabold text-slate-900 tracking-tight sm:text-5xl">Password reset sent</h1>
  <p class="mb-4 text-base text-slate-600">We've emailed you instructions for setting your password. You should receive the email shortly.</p>
  <p class="mb-4 text-base text-slate-600">If you do not receive instructions, this means you don't have an account associated with that email address.</p>
  {% url 'home' as home_url %}
  {% include "components/button.html" with el="link" size="md" color="oxford" text="Go to the home page" href=home_url %}
</div>
{% endblock %}
