{% extends "base.html" %}

{% block meta_title %}Enter new password | OpenSAFELY Interactive{% endblock meta_title %}

{% block html_class %}{% if validlink %}h-full bg-slate-50{% endif %}{% endblock html_class %}
{% block body_class %}{% if validlink %}h-full{% endif %}{% endblock body_class %}

{% block content %}
  {% if validlink %}
    <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mb-4 text-center text-3xl font-extrabold text-slate-900">New password</h2>

        <div class="rounded-md bg-sky-50 p-4 mb-6">
          <div class="flex">
            <div class="flex-shrink-0">
              {% include "icons/outline-information-circle.svg" with html_class="h-5 w-5 text-sky-500" %}
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-sky-800">Password rules</h3>
              <div class="mt-2 text-sm text-sky-700">
                {{ form.new_password1.help_text }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        {% if form.errors %}
        <div class="shadow sm:rounded-lg bg-red-50 p-4 mt-3 mb-6">
          <div class="flex">
            <div class="flex-shrink-0">
              {% include "icons/solid-x-circle.svg" with html_class="h-5 w-5 text-red-400" %}
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-bold text-red-800">
                There {{ form.errors|pluralize:"was,were" }} {{ form.errors|length }} error{{form.errors|pluralize}}:
              </h3>
              <div class="mt-2 text-sm text-red-700">
                <ul role="list" class="list-disc pl-5 space-y-1">
                  {% for field in form %}
                    {% for error in field.errors %}
                    <li><strong>{{ field.label }}: </strong>{{ error }}</li>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="bg-white pt-4 pb-8 px-4 shadow sm:rounded-lg sm:px-10">
          <form class="space-y-6" method="POST">
            {% csrf_token %}

            <div>
              {% include "components/form-field.html" with autocomplete="new-password" id=form.new_password1.id_for_label label=form.new_password1.label  name="new_password1" required=True type="password" %}
              {% if form.new_password1.errors %}
                <ul class="mt-2">
                  {% for error in form.new_password1.errors %}
                    <li class="text-sm text-red-700">{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

            <div>
              {% include "components/form-field.html" with autocomplete="new-password" id=form.new_password2.id_for_label label=form.new_password2.label  name="new_password2" required=True type="password" %}
              {% if form.new_password2.errors %}
                <ul class="mt-2">
                  {% for error in form.new_password2.errors %}
                    <li class="text-sm text-red-700">{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

            <div>
              {% include "components/button.html" with el="input" color="oxford" html_class="w-full" size="md" type="submit" text="Confirm new password" %}
            </div>

          </form>
        </div>
      </div>
    </div>

  {% else %}

    <div class="container bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
      <h1 class="mb-2 text-4xl font-extrabold text-slate-900 tracking-tight sm:text-5xl">Invalid link</h1>
      <p class="mb-4 text-base text-slate-600">The password reset link was invalid, possibly because it has already been used.</p>
      {% url 'password_reset' as password_reset %}
      {% include "components/button.html" with el="link" size="md" color="oxford" text="Request a new password reset email" href=password_reset %}
    </div>
  {% endif %}

{% endblock %}
