{% extends 'base.html' %}

{% block meta_title %}Forgot your password? | OpenSAFELY Interactive{% endblock meta_title %}
{% block html_class %}h-full bg-slate-50{% endblock html_class %}
{% block body_class %}h-full{% endblock body_class %}

{% block content %}
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-center text-3xl font-extrabold text-slate-900">Forgot your password?</h2>
    <p class="mt-2 text-center text-sm text-slate-600 leading-relaxed">
      Enter your email address below, and we'll email instructions for setting a new one.
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    {% if form.errors %}
    <div class="shadow sm:rounded-lg bg-red-50 p-4 mt-3 mb-6">
      <div class="flex">
        <div class="flex-shrink-0">
          {% include "icons/solid-x-circle.svg" with html_class="h-5 w-5 text-red-400" %}
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-bold text-red-800">
            There {{ form.errors|pluralize:"was,were" }} {{ form.errors|length }} error{{form.errors|pluralize}}:
          </h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc pl-5 space-y-1">
              {% for field in form %}
                {% for error in field.errors %}
                <li><strong>{{ field.label }}: </strong>{{ error }}</li>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="bg-white pt-4 pb-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" method="POST">
        {% csrf_token %}

        <div>
          {% include "components/form-field.html" with autocomplete="email" id=form.email.id_for_label label=form.email.label inputmode="email" name="email" required=True type="email" %}
          {% if form.email.errors %}
            <ul class="mt-2">
              {% for error in form.email.errors %}
                <li class="text-sm text-red-700">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div>
          {% include "components/button.html" with el="input" color="oxford" html_class="w-full" size="md" type="submit" text="Request password" %}
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock content %}
