{% extends 'base.html' %}

{% block meta_title %}Password reset complete | OpenSAFELY Interactive{% endblock meta_title %}

{% block content %}
<div class="container bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
  <h1 class="mb-2 text-4xl font-extrabold text-slate-900 tracking-tight sm:text-5xl">Password reset complete</h1>
  <p class="mb-4 text-base text-slate-600">Your new password has been set.</p>
  {% url 'login' as login_url %}
  {% include "components/button.html" with el="link" size="md" color="oxford" text="Go to the login page" href=login_url %}
</div>
{% endblock %}
